<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReciMe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a class = "logo" href="/">Recipe.com</a>
        <ul>
            <li><a class="currentPage" href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/AddRecipes">Add Recipes</a></li>
        </ul>
    </nav>
    
    <div class ="anecdote">
        <p>
            One of my favorite foods is Pizza, I like all kinds of pizza but especially thin crust pizza with vegetables.
            My favorite cooking expereince would have to be when I made butter chicken for my family, because it was good and they apreciated it.
        </p> 
        
        <a href = "/recipes">
            View a list of recipes!
        </a>
    </div>
   
   
</body>
</html>